<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Conferencing Website</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <h1>
      Welcome <%= user?`${user.firstName} ${user.lastName}!`:'To Vroom!' %>
    </h1>
    <% if(!user){ %>
    <a href="/login"><button>Login/Register</button></a>
    <% } else{ %>
    <a href="/logout"><button>Logout</button></a>
    <% } %>
    <hr />
    <a href="/new"><button>Create New Room</button></a>
    <a href="/join"><button>Join Room</button></a>
  </body>
</html>
