<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header') %>
  <body>
    <div class="home-container"></div>
    <%- include('partials/navbar') %>
    <h1 class="home-head">
      Welcome <%= user?`${user.firstName} ${user.lastName}!`:'To ChatFusion!' %>
    </h1>
    <div class="home-btn-container container">
      <a href="/new"><button class="home-btn btn">Create New Room</button></a>
      <a href="/join"><button class="home-btn btn">Join Room</button></a>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
