<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <h1>Join Meeting</h1>
    <form action="/join" method="POST">
      <label for="id">Meeting id: </label>
      <input type="text" name="id" id="id" size="40" />
      <button>Join</button>
    </form>
  </body>
</html>
